* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    font-family: Arial, sans-serif;
    background-color: coral;
  }
  
  
  .Container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    
  }
  
  
  .signup {
    background-color: #858585;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .signup input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .signup button {
    
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  .login {
   background-color: #858585 ;
    border-radius: 5px;
    padding: 20px;
  }
  
  .login input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .login button {
   
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  h1{
    font-family: "Lucida Console", "Courier New", monospace;
}
  
 
  
  
  