*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Main{
    width: 98%;
    height: 100%;
}
.top{
    width: 100%;
    height: 70%;
    background-color: rgb(255, 255, 255);
}
.q2{
    width: 100%;
    height: 30%;
    background-color: rgb(255, 255, 255);
}
.word{
    width: 100%;
    height: 10%;
    background-color: rgb(195, 0, 255);
    display: flex;
}
.textie2{
    width: 100%;
    height: 10%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
}
.w3{
    width: 100%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.textie{
    width: 80%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}
.textie2{
    width: 20%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-around;
}
.word2{
    width: 40%;
    height: 45%;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border: 2px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.word3{
    width: 40%;
    height: 49%;
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.t1{
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.t2{
    width: 15%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
}
.y1{
    width: 60%;
    height: 50%;
    background-color: rgb(213, 247, 255);
    border-radius: 25px;
    border: 2px rgb(0, 234, 255)solid;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
.u1{
    width: 95%;
    height: 95%;
    background-color: blue;
    background-image: url(https://images.unsplash.com/photo-1567401893414-76b7b1e5a7a5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZmFzaGlvbiUyMHN0b3JlfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
    background-repeat: repeat;
    background-size: 100% 100%;
    border-radius: 35px;
    
}
.i1{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.i2{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.o1{
    width: 55%;
    height: 35%;
    background-color: white;
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
}
.i3{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p1{
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.p2{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s1{
    width: 16%;
    height: 20%;
    background-color: rgb(207, 207, 207);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s2{
    width: 10%;
    height: 20%;
    background-color: rgb(207, 207, 207);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s3{
    width: 13%;
    height: 20%;
    background-color: rgb(207, 207, 207);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s4{
    width: 13%;
    height: 20%;
    background-color: rgb(207, 207, 207);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s5{
    width: 11%;
    height: 20%;
    background-color: rgb(207, 207, 207);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.d1{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.f1{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
}
.f2{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-between;
}
.g1{
    width: 50%;
    height: 100%;
}
.g2{
    width: 2%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.h1{
    width: 15%;
    height: 100%;
    background-image: url(https://images.stockx.com/images/Air-Jordan-1-Mid-Chicago-Toe-Product.jpg?fit=fill&bg=FFFFFF&w=1200&h=857&fm=webp&auto=compress&dpr=2&trim=color&updated_at=1616187353&q=75);
    background-repeat: repeat;
    background-size: 100% 100%;
    border-radius: 25px;
}
.h2{
    width: 15%;
    height: 100%;
    background-image: url(https://cdn-images.farfetch-contents.com/17/12/33/35/17123335_35644995_600.jpg);
    background-repeat: repeat;
    background-size: 100% 100%;
    border-radius: 25px;
}

.h3{
    width: 15%;
    height: 100%;
    background-image: url(https://www.asolo.com/6911-home_default/fugitive-gtx.jpg);
    background-repeat: repeat;
    background-size: 100% 100%;
    border-radius: 25px;
}
.h4{
    width: 15%;
    height: 100%;
    background-image: url(https://img.skatewarehouse.com/watermark/rs.php?path=CVCDKPT-BR-1.jpg&nw=270);
    background-repeat: repeat;
    background-size: 100% 100%;
    border-radius: 25px;
}
.h5{
    width: 15%;
    height: 100%;
    background-image: url(https://images.vans.com/is/image/VansEU/VN000D3HY28-HERO?$PDP-FULL-IMAGE$);
    background-repeat: repeat;
    background-size: 100% 100%;
    border-radius: 25px;
}